---
import { formatDateDotNotation } from "@/utils/date";
import Tag from "./Tag.astro";

interface Props {
  title: string;
  href: string;
  publishedAt?: string;
  techStack?: string[];
}

const { title, href, publishedAt, techStack } = Astro.props;

const formattedDate = publishedAt ? formatDateDotNotation(publishedAt) : null;

const displayedTags = techStack?.slice(0, 3) ?? [];
const remainingCount =
  techStack && techStack.length > 3 ? techStack.length - 3 : 0;
---

<a
  href={href}
  data-dir-hover="item"
  class="group/item -mx-2 block rounded-md px-2 py-2 font-normal no-underline transition duration-200 ease-out group-hover/item:text-foreground active:scale-[0.98] md:mx-0 md:p-2"
>
  <div class="w-full items-center justify-between gap-4 md:flex">
    <div class="w-fit text-foreground md:text-foreground-muted">
      <h3 class="transition-colors group-hover/item:text-foreground">
        {title}
      </h3>
    </div>
    <div class="hidden min-w-4 flex-1 border-b md:block"></div>
    {
      techStack && techStack.length > 0 ? (
        <>
          <div class="flex items-center gap-1">
            {displayedTags.map((tech) => (
              <Tag label={tech} />
            ))}
            {remainingCount > 0 && <Tag label={`+${remainingCount} more`} />}
          </div>
        </>
      ) : (
        formattedDate && (
          <div class="font-mono-custom w-fit">
            <span class="transition-colors group-hover/item:text-foreground">
              {formattedDate}
            </span>
          </div>
        )
      )
    }
  </div>
</a>
