---
import Item from "./Item.astro";
import CtaLink from "./CtaLink.astro";

interface LatestItem {
  _id: string;
  title: string | null;
  slug: { current?: string } | null;
  publishedAt: string | null;
}

interface Props {
  title: string;
  items: LatestItem[];
  basePath: string;
}

const { title, items, basePath } = Astro.props;
---

<section class="space-y-2">
  <h2 class="small-heading" data-reveal>
    {title}
  </h2>
  <ul class="flex flex-col gap-px" role="list">
    {
      items.map((item) => (
        <li>
          <Item
            title={item.title}
            href={`${basePath}/${item.slug?.current}`}
            publishedAt={item.publishedAt}
          />
        </li>
      ))
    }
  </ul>
  <div data-reveal>
    <CtaLink href={`${basePath}`}>View all</CtaLink>
  </div>
</section>
