---
import type { SanityDocument } from "@sanity/client";
import Item from "./Item.astro";
import Link from "./Link.astro";

interface Props {
  title: string;
  items: SanityDocument[];
  basePath: string;
}

const { title, items, basePath } = Astro.props;
---

<section class="space-y-2">
  <h2 class="small-heading md:px-2">
    {title}
  </h2>
  <ul class="flex flex-col gap-px" role="list">
    {
      items.map((item) => (
        <li>
          <Item
            title={item.title}
            href={`${basePath}/${item.slug.current}`}
            publishedAt={item.publishedAt}
            techStack={item.techStack}
          />
        </li>
      ))
    }
  </ul>
  <div class="md:px-2">
    <Link href={`${basePath}`}>View all</Link>
  </div>
</section>
